In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_parquet('./data/clean_passwords.gzip', engine='pyarrow')
df.head()

    password  strength
0     123456  0.172331
1      12345  0.128996
2  123456789  0.316992
3   password  0.249543
4   iloveyou  0.249543

In [3]:
num_bins = 5
sample_size = 2_000

df['bin'] = pd.cut(df['strength'], num_bins, labels=False)
sample_df = df.groupby('bin', group_keys=False).apply(lambda x: x.sample(min(len(x), sample_size), random_state=24))

sample_df.head()

          password  strength  bin
8901913    csillik  0.180594    0
7505062   huniihuu  0.177778    0
1931018     chaipy  0.172331    0
11728518   876876b  0.155556    0
5548757     miiwhy  0.154795    0

In [4]:
sample_df.drop(['bin'], axis=1, inplace=True)
sample_df.head()

          password  strength
8901913    csillik  0.180594
7505062   huniihuu  0.177778
1931018     chaipy  0.172331
11728518   876876b  0.155556
5548757     miiwhy  0.154795

In [5]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 8901913 to 5783544
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   password  10000 non-null  object
 1   strength  10000 non-null  float64
dtypes: float64(1), object(1)
memory usage: 234.4+ KB

In [6]:
sample_df.to_csv("./data/stratified_sample_data.csv", index=False)