In [1]:
import pandas as pd
from tqdm import tqdm
import warnings

tqdm.pandas()
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("./data/stratified_sample_data.csv")
df.head()

   password  strength
0   csillik  0.180594
1  huniihuu  0.177778
2    chaipy  0.172331
3   876876b  0.155556
4    miiwhy  0.154795

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   password  10000 non-null  object
 1   strength  10000 non-null  float64
dtypes: float64(1), object(1)
memory usage: 156.4+ KB

In [5]:
def lenTransform(text: str) -> int:
    """Calculates the length of a given text.

    Args:
        text (str): The input text for which the length needs to be calculated.

    Returns:
        int: The length of the input text as an integer.
    """
    return len(text)

df["len"] = df["password"].progress_apply(lambda x: lenTransform(x))
df.sample(10, random_state=30)

100%|██████████| 10000/10000 [00:00<00:00, 67025.22it/s]

                           password  strength  len
8793         KAKAILDIAVOLOINILCORPO  0.823154   22
1122                         karl4m  0.172331    6
1283                         190397  0.154795    6
9318  smandaketapangkalbarindonesia  0.939366   29
7765                 allXUXexept4ME  0.607788   14
3011                        sabinra  0.201053    7
7125            liverpooltillidie07  0.761594   19
8823           albertoramirez150711  0.823355   20
3121                       demi1989  0.249543    8
9314           mklandmts40203925971  0.841896   20