In [1]:
import pandas as pd

In [2]:
_df = pd.read_parquet('./data/passwords.gzip', engine='pyarrow')
_df.head()

    password  strength
0     123456  0.172331
1      12345  0.128996
2  123456789  0.316992
3   password  0.249543
4   iloveyou  0.249543

In [3]:
_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14344094 entries, 0 to 14344096
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   password  object
 1   strength  float64
dtypes: float64(1), object(1)
memory usage: 328.3+ MB

In [4]:
df = _df.sample(10_000)
df

            password  strength
9740708      beads45  0.218350
6142619     lizzybob  0.229774
12835930     2352300  0.155556
6344017   lapolitica  0.311928
8912029      cross*5  0.201053
...              ...       ...
6575475   killertin0  0.333333
2859321    voiture69  0.316992
11428648     Alnoek2  0.218350
7843698    gnmkj1993  0.300000
9992035      army909  0.201053

[10000 rows x 2 columns]

In [ ]:
df.to_csv("./data/sample_data.csv", index=False)