In [18]:
import pandas as pd

In [19]:
_df = pd.read_parquet('./data/passwords.gzip', engine='pyarrow')
_df.head()

    password  strength
0     123456  0.172331
1      12345  0.128996
2  123456789  0.316992
3   password  0.249543
4   iloveyou  0.249543

In [20]:
_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14344094 entries, 0 to 14344096
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   password  object
 1   strength  float64
dtypes: float64(1), object(1)
memory usage: 328.3+ MB

In [21]:
num_bins = 5
sample_size = 2_000

_df['bin'] = pd.cut(_df['strength'], num_bins, labels=False)
df = _df.groupby('bin', group_keys=False).apply(lambda x: x.sample(min(len(x), sample_size)))

df.head()

          password  strength  bin
13251492   1421164  0.155556    0
5054484     nivels  0.172331    0
10345503  aeb2aeb2  0.177778    0
3356677     tatase  0.133333    0
10942398    LILLOI  0.105664    0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 13251492 to 10144140
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   password  10000 non-null  object
 1   strength  10000 non-null  float64
 2   bin       10000 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 312.5+ KB

In [23]:
df.describe()

           strength           bin
count  10000.000000  10000.000000
mean       0.489462      2.000000
std        0.261792      1.414284
min        0.000000      0.000000
25%        0.229774      1.000000
50%        0.471260      2.000000
75%        0.696656      3.000000
max        1.000000      4.000000

In [24]:
df.drop(['bin'], axis=1, inplace=True)
df.head()

          password  strength
13251492   1421164  0.155556
5054484     nivels  0.172331
10345503  aeb2aeb2  0.177778
3356677     tatase  0.133333
10942398    LILLOI  0.105664

In [ ]:
df.to_csv("./data/stratified_sample_data.csv", index=False)

In [ ]:
del _df